.content {
  display: block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;

  .pages {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;

    .page_content {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 250ms ease-out;
      vertical-align: top;
      box-sizing: border-box;
      white-space: normal;
      transform: translateX(0);

      .items {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}

.invalid {
  border: 1px solid #DA1B1B;

  &-input {
    font-size: 12px;
    font-weight: 400;
    color: #DA1B1B;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000bf;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-header {
    width: 100%;
    background: white;
    color: #1B2136;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 18px;
      }
    }
  }

  .modal-body {
    width: calc(100% - 50px);

    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.btn-bar {

  .btn-outline {
    border: 1px solid #F3F5FA;
    color: #F3F5FA;
    background: transparent;

    &:hover, &:focus {
      background: #F3F5FA;
      color: #1B2136;
    }
  }

  .btn:not(:first-of-type) {
    margin-left: 10px;
  }
}
